<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/element-ui.min.css">
</head>
<body>
<div id="app">
    <el-select v-model="value" placeholder="请选择">
        <el-option
                v-for="item in options"
                :label="item.label"
                :value="item.value">
        </el-option>
    </el-select>
</div>
</body>


<script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/js/vue.min.js" type="text/javascript"></script>
<script src="/js/element-ui.min.js" type="text/javascript"></script>
<script>
    var store = {
        value: 1,
        options:[
            {value:1,label:"香蕉"},
            {value:2,label:"苹果"},
            {value:3,label:"西瓜"}
        ]
    };


    new Vue({
        el: "#app",
        data: store,
    })
</script>
</html>